body{
    background-image: linear-gradient(#FFD4B3,#FF005C);
}
#input{
    width:60%;
    height: 30px;
    border: 3px solid #000000;
    border-radius: 5px;
}
h1{
    text-align: center;
    margin-top: 50px;
    font-weight: solid;
    font-size: 250%;

}

button{
    width: 200px;
}
#remove{
    margin-top: 10px;
    border: 3px #FF0000;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
    background-color: #FA8072;
    padding: 1px;
    
}
#pencil{
    width:30px;
    height: 25px;
    padding: 3px;
    border: 3px solid black;
    border-radius: 5px;
    margin-left: 3px;
    
}

#container ul li{
    list-style-type: none;
    text-align: start;
    list-style-position: outside;
    border: 3px solid gray;
    /* width: 100%; */
    font-size: larger;
    font-weight: bold;
    margin: 10px auto;
    padding: 6px;
    border-radius: 15px;
    
}

#container{
    text-align: center;
    padding: 5px;
    margin: 30px auto;
    width: 40%;
    height: 100vh;
    border-radius: 10px;
   
    
}
#container #pencil:hover{
    background-color: yellow;

}

.card-header{
    font-weight: bold;
    font-size: medium;
}

#cross{
    width:30px;
    float: right;
    padding-top: 3px;
    border-radius: 15px;
    background-color: goldenrod;
}

.stroked{
    text-decoration: line-through;
    opacity: 0.5;
}