.container{
    margin-top: 50px;
    text-align: center;

}
h4{
    font-weight: bold;
    font-size: small;
}
body{
    background-image: linear-gradient(#FFD4B3,#FF005C);
    height: 100vh;
}
#input{
    width:60%;
    height: 30px;
    border: 3px solid #000000;
    border-radius: 5px;
}
#pencil{
    width:30px;
    height: 25px;
    padding: 3px;
    border: 3px solid black;
    border-radius: 5px;
    margin-left: 3px;
    
}
.card-header{
    font-weight: bold;
    font-size: x-large;
}
.container #pencil:hover{
    background-color: yellow;

}
#cross{
    width:8%;
    float: right;
    padding: 1px 1px 1px 1px;
    border-radius: 20px;
    background-color: goldenrod;
}
/* .stroked{
    text-decoration: line-through;
    opacity: 0.5;
    
} */

#remove{
    margin-top: 10px;
    border: 3px #FF0000;
    border-radius: 5px;
    font-size: medium;
    font-weight: bold;
}

.container ul li{
    list-style-type: none;
    text-align: start;
    list-style-position: outside;
    border: 3px solid gray;
    font-size: larger;
    font-weight: bold;
    margin: 10px auto;
    padding: 6px;
    border-radius: 15px;
    
}
#check{
    width: 30px;
    margin: 2px auto;
}
#check:checked+label{
    text-decoration: line-through;
    opacity: 0.5;
}
